---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Yann COLAT" description="About Yann COLAT, développeur FullSack">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/costard.png"
					alt="Yann COLAT at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						D'une formation initial en informatique avec un diplôme en poche comme Technicien Supérieur en Réseaux 
						Informatique et Télécommunication, j'ai evolué au flis des années dans de nombreux métier de la tech.
						Tour à tour technicien, hotline ou j'ai acquérie un savoir faire dans le réseaux.<br><br>
					</p>
					
					<p>
						J'ai voulu monter en compétence et me suis inscrit dans un Bachelor Informatique chez <a href="https://ecoles-openit.fr/">OpenIT</a>.<br>

						Se fut une révélation lorsque j'ai connue le Dev et maintenant je me suis spécialisé dans ce doamaine.
						Après trois longues années je me dirige vers la fin de mon Bachelor pour me diriger vers la voix du master.<br><br>
					</p>

					<p>
						J'ai pu effectuer une alternance de un an et huit mois au sein de l'entreprise <a href="https://www.spie-ics.com/">SPIE ICS</a> et apprendre
						de nouvelle choses et de nouvelles technologies.<br><br>

						D'une nature ouverte, j'accorde une grande importance à la communication et au partage de connaissances.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>Technicien Supérieur en Réseaux Informatique et Télécommunication NIV III (BAC +2), </p>
					<p>Bachelor Informatique (Bac +3)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curieux, Motivé, Sociable, Déterminé, Ouvert d'esprit, Polyvalent</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Techno</h2>
				<div class="content">
					<p>Programmation (Python, C#, Astro)</p>
					<p>Web (HTML, CSS)</p>
					<p>BDD (PostgreSQL, SQLServer)</p>
					<p>TMA (Mission de Tierce Maintenance Applicative)</p>
					<p>Virtualisation (VirtualBox, VMware)</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
